<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net472" />
  <package id="Machine.Fakes" version="2.11.0" targetFramework="net472" />
  <package id="Machine.Fakes.NSubstitute" version="2.11.0" targetFramework="net472" />
  <package id="Machine.Specifications" version="1.0.0" targetFramework="net472" />
  <package id="Machine.Specifications.Should" version="1.0.0" targetFramework="net472" />
  <package id="NSubstitute" version="4.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net472" />
</packages>